.about {
    margin-top: 5px;
    padding: 0 10px;
	box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.about__info {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 500px;
    background-color:deepskyblue;
    display: flex;
    flex-direction: column;
}

.about__info > h2 {
    text-align: center;
}

.about__info > p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.about__feature {
    margin-bottom: 10px;
    display: flex;
}

.about__feature > img {
    width: 75px;
    height: 75px;
}

.about__featurecontent {
    margin-left: 10px;
}

.about__featurecontent > p {
    margin-right: 10px;
}

.about__circlify {
    border-radius: 999px;
}

.about__sectiontitle {
    margin-bottom: 10px;
}

.about__intro {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* rainbow effect for border color */
@-webkit-keyframes borderColorChange {  
    0% { border: 2px solid red; }
    17% { border: 2px solid orange; }
    34% { border: 2px solid yellow; }
    51% { border: 2px solid green; }
    68% { border: 2px solid blue; }
    85% { border: 2px solid purple; }
    100% { border: 2px solid red; }
}

.about__introbutton {
    background-color:cornflowerblue;
	display: flex;
	border-radius: 10px;
	width: 155px;
	height: 30px;
	margin: auto;
	margin-right: 10px;
	align-items: center;
	justify-content: center;

    -webkit-animation-name: borderColorChange;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3s; 
}

.about__introbutton:hover {
    cursor: pointer;
	background-color: lightgray;
}