.createpost {
    background-color: gray;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.createpost__form {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.createpost__form > input {
	outline-width: 0;
	border: none;
	padding: 5px 20px;
	margin: 5px 0;
	border-radius: 99px;
	background-color: #eff2f5;
    display: flex;
}

.createpost_error {
    color: darkred;
    margin-top: 10px;
}

.createpost__title {
    margin-bottom: 10px;
}

.createpost__button {
	background-color:cornflowerblue;
    border: 1px solid blue;
	display: flex;
	border-radius: 10px;
	width: 100px;
	height: 50px;
    margin-top: 5px;
	align-items: center;
	justify-content: center;
}

.createpost__button:hover {
	background-color: lightgray;
    cursor: pointer;
}

.createpost__titlefield {
    margin-top: 10px;
    width: 50%;
}

.createpost__textfield {
    margin-top: 10px;
    width: 50%;
    height: 100%;
    resize: none;
    outline-width: 0;
	border: none;
	padding: 5px 20px;
	margin: 5px 0;
	border-radius: 10px;
	background-color: #eff2f5;
    display: flex;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}