.login {
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login > form > input {
	outline-width: 0;
	border: none;
	padding: 5px 20px;
	margin: 10px 0;
	border-radius: 99px;
	background-color: #eff2f5;
    display: flex;
}

.login__error {
    color: darkred;
    margin-top: 10px;
}

.login__title {
    margin-bottom: 10px;
}