.register {
    background-color: gray;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.register__form {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.register__form > input {
	outline-width: 0;
	border: none;
	padding: 5px 20px;
	margin: 5px 0;
	border-radius: 99px;
	background-color: #eff2f5;
    display: flex;
}

.register__error {
    color: darkred;
    margin-top: 10px;
}

.register__title {
    margin-bottom: 10px;
}

.register__button {
	background-color:cornflowerblue;
    border: 1px solid blue;
	display: flex;
	border-radius: 10px;
	width: 85px;
	height: 50px;
    margin-top: 5px;
	align-items: center;
	justify-content: center;
}

.register__button:hover {
	background-color: lightgray;
    cursor: pointer;
}