.voting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voting__upvote {
    color: black;
}

.voting__upvote_active {
    color:blue;
}

.voting__downvote {
    color: black;
}

.voting__downvote_active {
    color:blue;
}